* {
  box-sizing: border-box;
}

body {
  /* background:  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBTD12j2YVcPi4Qc18XI0Ws7lARf8reVLdZswAuS4ijA&s) center no-repeat; */
  background: url(/Images/IMG_4906.JPG) center no-repeat;
  background-size: cover;
  /* min-height: 100vh; */
}

.playGround {
  width: 100%;
  aspect-ratio: 1;
  /* background-image: url("https://t4.ftcdn.net/jpg/04/71/35/61/360_F_471356144_rQ4ELeb0p59MXaf8Mrf8df9XMz5j6sCd.jpg"); */
  background: url(/Images/unnamed3.jpg);
  /* background: url('https: //d1csarkz8obe9u.cloudfront.net/posterpreviews/ludo-game-board-template-design-dbcb8be21e11c28d6927b2f2d6282b1d_screen.jpg?ts=1599290723'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  /* background: url(/Images/IMG_4903.JPG) center no-repeat; */
}

.playGround div {
  aspect-ratio: 1;
  width: 6.66666666666666666666666666666666666666666666666666666666666666666666667%;
  /* border: solid 1px black; */
  margin: 0;
}

.playGround div div {
  width: 40%;
  aspect-ratio: 1;
  /* margin-top: 20%;
  margin-left: 25%; */
  border-radius: 50%;
  /* border: 1px solid black; */
  border: .5px solid white;
}


.playGround div .red {
  background-color: rgb(254, 17, 1);
}

.playGround div .green {
  background-color: rgb(0, 212, 0);
}

.playGround div .blue {
  background-color: rgb(0, 145, 254);
}

.playGround div .yellow {
  background-color: rgb(254, 196, 0);
}